.footer {
  background-color: var(--bg-footer);
  color: var(--text-invert);
}

.footer-top {
  display: flex;
  flex-direction: column;

  padding: 40px 0;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    padding: 32px 0 110px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-top {
    padding: 64px 0;
  }
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .left-content {
    gap: 32px;
  }
}

.footer-logo {
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
}

.footer-logo-accent {
  color: var(--text-accent);
}

.address-list {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.address-item {
  font-size: 14px;
  line-height: 1.29;
}

.address-label {
  margin-bottom: 4px;

  letter-spacing: -0.02em;

  color: var(--text-muted);
}

.address-link {
  font-weight: 600;

  transition: color var(--transition-base);
}

.address-link:hover,
.address-link:focus {
  color: var(--text-accent);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  z-index: 1;

  background-color: var(--bg-accent);

  transition: width var(--transition-base);
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;

  border: var(--icons-border) 1px solid;
  border-radius: 10px;

  transition: var(--transition-base);
}

.social-link:hover,
.social-link:focus {
  border-color: var(--icons-border-color);
}

.social-icon {
  width: 26px;
  height: 26px;
  fill: var(--icons-footer);
  transition: fill var(--transition-base);
}

@media screen and (min-width: 768px) {
  .social-icon {
    width: 28px;
    height: 28px;
  }
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--bg-accent);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 20px 0;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  border-top: var(--border-footer) 1px solid;
  color: var(--text-muted);
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-bottom {
    padding: 23px 0;
  }
}

.footer-policy {
  display: flex;
  gap: 18px;
}

.policy-link {
  transition: color var(--transition-base);
}

.policy-link:hover,
.policy-link:focus {
  color: var(--text-accent);
}
